.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  place-items: center;
  padding: 92px 17px;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  line-height: 21.13px;
}

.header__links-list {
  display: flex;
  gap: 0 32px;
}

.header__link {
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: false;
  text-underline-offset: 4px;
}

.header__link_active {
  letter-spacing: normal;
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 136px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address__link {
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: false;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  padding-right: 70px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0 0;
  z-index: 0;
  opacity: 0.6;
  background-color: black;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 115px 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  line-height: 140px;
  text-align: center;
}

.aligned-text_right {
  line-height: 100px;
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 22px;
}

.cover__description-text {
  padding-left: 28px;
  line-height: 28px;
  word-spacing: 20px;
}

.cover__description-text span {
  word-spacing: 18px;
}

.bet-button {
  border: 1px white solid;
  padding: 12px 32px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 179px 24px 146px;
}

.lots__heading {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  color: #fff;
}

.lots__card-list-item {
  position: relative;
  list-style: none;
}

.card-link {
  display: block;
  width: max-content;
  text-decoration: none;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: false;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card__text span {
  letter-spacing: 0.13em;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 72px;
  margin: 0 24px 180px;
  padding: 37px 0 0 47px;
}

.about__logo {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
}

.about__logo-image {
  height: 114px;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__column p:last-of-type {
  margin-bottom: 0;
}

.about p:first-of-type {
  letter-spacing: 0.01em;
}

.about p:first-of-type span:nth-of-type(1) {
  letter-spacing: normal;
}

.about p:first-of-type span:nth-of-type(2) {
  letter-spacing: 0.02em;
}

.about p:first-of-type span:nth-of-type(3) {
  letter-spacing: -0.01em;
}

.about p:first-of-type span:nth-of-type(4) {
  letter-spacing: 0.03em;
}

.about p:nth-of-type(2) span:first-child {
  letter-spacing: 0.04em;
}

.about__column p:nth-of-type(2) span:last-child {
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  padding: 0px 50px 88px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  border-bottom: black 1px solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
